<div class="edit-profile">
    <button onclick="openForm(this)">Edit Profile</button>
    <div class="edit-profile-form-cover">
        <form class="edit-profile-form" onsubmit="submitForm(event)">
            <span class="material-symbols-outlined close" onclick="closeForm(this)">close</span>
            <input type="text" name="displayName" placeholder="Display Name">
            <textarea name="bio" cols="30" rows="5" placeholder="Your Bio here..."></textarea>
            <button type="submit">Update</button>
        </form>
    </div>
</div>

<script>
    function openForm(btn) {
        const buzzSuper = btn.closest('.edit-profile').querySelector('.edit-profile-form-cover');
        buzzSuper.classList.add('modal');
    }

    function closeForm(close) {
        const buzzSuper = close.closest('.edit-profile').querySelector('.edit-profile-form-cover');
        buzzSuper.classList.remove('modal');
    }

    async function submitForm(event) {
        event.preventDefault(); // Prevent default form submission behavior

        const form = event.target;
        const formData = new FormData(form);
        const userId = '<%= user._id %>';
        const url = `/users/${userId}/update-profile`;

        try {
            const response = await fetch(url, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(Object.fromEntries(formData))
            });

            if (response.ok) {
                console.log('Profile updated successfully');
                closeForm(form.querySelector('.close'));
            } else {
                throw new Error('Failed to update profile');
            }
        } catch (error) {
            console.error('Error:', error);
        }
    }
</script>
