<footer>

    <div class="footer-logo-container">
        <img src="assets/hive-right.png" alt="">
    </div>

    <div class="footer-menu">
        <a href="/" class="footer-link">Home</a>
        <a href="/faqs" class="footer-link">FAQs</a>
        <a href="/topbuzzspaces" class="footer-link">Top BuzzSpaces</a>
        <a href="/profile" class="footer-link">Profile</a>
    </div>
</footer>