<footer>

    <div class="footer-logo-container">
        <img src="assets/hive-right.png" alt="">
    </div>

    <div class="footer-menu">
        <a href="/" class="footer-link">Home</a>
        <a href="/overview" class="footer-link">Overview</a>
        <a href="/topcommunities" class="footer-link">Top Communities</a>
        <a href="/" class="footer-link">Source</a>
    </div>
</footer>