<header>
    <nav id="my-nav">
        <div  class="nav-left">
            <a href="/">

                <img class="nav-logo" src="assets/hive-right.png" alt="logo">
            </a>
            <span id="hamburger-icon" class="material-symbols-outlined">
                menu
            </span>
        </div>

        <div class="nav-menu">

            <input type="text" name="navSearch" id="navSearch" placeholder="Search BuzzSpaces">

            <ul class="nav-list">
                <li>
                    <a href="/newbuzz">
                        <span class="material-symbols-outlined">
                            add
                        </span>
                    </a>
                </li>
                <li>
                    <span class="material-symbols-outlined">
                        notifications
                    </span>
                </li>
                <li class="nav-profile">
                    <span class="material-symbols-outlined">
                        account_circle
                    </span>
                    <a href="/profile"><%= user.info.display_name %></a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="nav-cover"></div>
</header>

<script src="js/navbar.js"></script>