
<div class="user-mention">
    <span class="mention-name" >KingKhan</span>
    
    <div class="profile-card">
        <div class="profile-card2">
            <%- include('avatar', { ind: index }) %>
        <div class="profile-name">
            <h2>
                KingKhan
            </h2>
        </div>
        <div class="card-bio">
            IIITS Student, Batch 2022
        </div>
        <div class="count" >
            <p>
                <span class="title">Buzzes</span> 
                 <span>120</span>
            </p>
            <p>
                <span class="title">BuzzSpaces</span> 
                 <span>10</span>
            </p>
        </div>
    </div>
</div>
</div>