
<div class="user-mention">
    <span class="mention-name" >KingKhan</span>
    
    <div class="profile-card">
        <div class="profile-card2">
            <span class="material-symbols-outlined profile-image">
            person
        </span>
        <div class="profile-name">
            <h2>
                KingKhan
            </h2>
            <span class="profile-username">
                <%= user.username %>
            </span>
        </div>
        <div class="count" >
            <p>
                Buzzes 
                 <span>120</span>
            </p>
            <p>
                BuzzSpaces 
                 <span>10</span>
            </p>
        </div>
    </div>
</div>
</div>