<% 
const categories = [
    "animals",
    "architecture",
    "art",
    "beauty",
    "books",
    "business",
    "cars",
    "celebrities",
    "cooking",
    "crafts",
    "culture",
    "design",
    "diy",
    "education",
    "entertainment",
    "environment",
    "events",
    "fashion",
    "finance",
    "fitness",
    "food",
    "games",
    "gardening",
    "health",
    "history",
    "hobbies",
    "movies",
    "music",
    "nature",
    "news",
    "pets",
    "photography",
    "politics",
    "science",
    "space",
    "spirituality",
    "sports",
    "technology",
    "travel",
    "weather"
  ];
%>

<div class="categories-container">
    <input type="text" placeholder="Search categories..." oninput="filterCategories(this)">
    <ul>
    </ul>
</div>

<script>
    const categories = JSON.parse('<%- JSON.stringify(categories)  %>')

    const categoriesList = document.querySelector('.categories-container ul');

    // Function to filter categories based on input
    function filterCategories(input) {
        const searchText = input.value.toLowerCase();
        const filteredCategories = categories.filter(category =>
            category.toLowerCase().includes(searchText)
        );
        displayCategories(filteredCategories);
    }

    // Function to display categories
    function displayCategories(categories) {
        categoriesList.innerHTML = '';
        categories.forEach(category => {
            const listItem = document.createElement('li');
            const link = document.createElement('a');
            link.href = `/category/${category.toLowerCase()}`;
            link.textContent = category;
            listItem.appendChild(link);
            categoriesList.appendChild(listItem);
        });
    }

    // Initial display of all categories
    displayCategories(categories);
</script>
