<% const posts = [ 
  { 
    community : "TestCommunity",
    postedon: "2024-02-20 12:10:00",
    title: "A long Title",
    votes: 15,
    content: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate nulla in illum quis laudantium magnam, facere rem optio sed magni.",
    comments: [
      {
        user: "Alice",
        comment: "This is the first comment.",
        votes: 100,
        commentedon: "2024-02-22 9:00:00",
        replies: [
          {
            user: "Bob",
            comment: "Reply to the first comment.",
            votes: 10,
            commentedon: "2024-02-22 10:05:00",
            replies: [
              {
                user: "Alice",
                comment: "Reply to Bob's reply.",
                votes: 10,
                commentedon: "2024-02-22 12:10:00",
                replies: [] // No further replies
              }
            ]
          },
          {
            user: "Charlie",
            comment: "Another reply to the first comment.",
            votes: 10,
            commentedon: "2024-02-22 11:07:00",
            replies: []
          }
        ]
      },
      {
        user: "David",
        comment: "Second comment without replies.",
        votes: 10,
        commentedon: "2024-02-22 10:15:00",
        replies: [] // No replies for this comment
      }
    ]
  },
  // Additional dummy posts
  { 
    community : "TestCommunity2",
    postedon: "2024-02-21 14:20:00",
    title: "Another Long Title",
    votes: 20,
    content: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate nulla in illum quis laudantium magnam, facere rem optio sed magni.",
    comments: [
      {
        user: "Eve",
        comment: "This is the first comment on the second post.",
        votes: 50,
        commentedon: "2024-02-21 15:30:00",
        replies: [
          {
            user: "Frank",
            comment: "Reply to the first comment on the second post.",
            votes: 15,
            commentedon: "2024-02-21 16:45:00",
            replies: [
              {
                user: "Eve",
                comment: "Reply to Frank's reply.",
                votes: 5,
                commentedon: "2024-02-21 18:20:00",
                replies: [] // No further replies
              }
            ]
          }
        ]
      }
    ]
  },
  { 
    community : "TestCommunity3",
    postedon: "2024-02-22 08:45:00",
    title: "Short Title",
    votes: 10,
    content: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate nulla in illum quis laudantium magnam, facere rem optio sed magni.",
    comments: []
  },
  { 
    community : "TestCommunity4",
    postedon: "2024-02-23 10:30:00",
    title: "Title with No Comments",
    votes: 5,
    content: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate nulla in illum quis laudantium magnam, facere rem optio sed magni.",
    comments: []
  },
  { 
    community : "TestCommunity5",
    postedon: "2024-02-23 13:15:00",
    title: "Title with Multiple Comments",
    votes: 30,
    content: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate nulla in illum quis laudantium magnam, facere rem optio sed magni.",
    comments: [
      {
        user: "Grace",
        comment: "First comment on the fifth post.",
        votes: 25,
        commentedon: "2024-02-23 14:00:00",
        replies: []
      },
      {
        user: "Henry",
        comment: "Second comment on the fifth post.",
        votes: 20,
        commentedon: "2024-02-23 15:30:00",
        replies: []
      }
    ]
  }
];

%>

<div class="home-posts-container">
  <% posts.map((post, index) => { %>
    <%- include('components/post', { post: post, index: index }) %>
  <% }); %>
</div>
