
<form class="newbuzz-container">
  <div class="newbuzz-buzzspace">
    <div class="custom-select" onclick="handelSelectDrop(this)">
      <input type="hidden" name="buzzSpace" value="">
      <div class="select-selected">
        Select BuzzSpace
      </div>
      <div class="select-items">
        <% buzzSpaces.forEach((space)=> { %>
          <div class="select-item" data-value="<%= space._id %>" onclick="selectBuzzSpace(this)">
            <img src=<%=space.image %> alt="">
            <%= space.name %>
          </div>
          <% }); %>
      </div>
    </div>
  </div>

  <input type="text" name="title" required placeholder="Title of your Buzz">
  <textarea id="buzz-content" name="buzz" rows="4" required placeholder="Description"></textarea>
  <button type="submit">Submit</button>
</form>

  
  <script>
    function selectBuzzSpace(element) {
      const selectedValue = element.getAttribute('data-value');
    const hiddenInput = element.closest('.custom-select').querySelector('input[type="hidden"]');

    hiddenInput.value = selectedValue;
    element.closest('.custom-select').querySelector('.select-selected').innerHTML = element.innerHTML;

  }

  function handelSelectDrop(element) {
    element.classList.toggle("drop");
  }

  window.addEventListener('load', function() {
    const urlParams = new URLSearchParams(window.location.search);
    const buzzSpaceParam = urlParams.get('buzzSpace');

    if (buzzSpaceParam) {
      const selectItem = document.querySelector(`.select-item[data-value="${buzzSpaceParam}"]`);
      if (selectItem) {
        selectBuzzSpace(selectItem);
      }
    }
  });

  document.querySelector('.newbuzz-container').addEventListener('submit', function(event) {
  event.preventDefault(); // Prevent the default form submission behavior

  const formData = new FormData(this); // Get the form data
  
  // Construct the data as JSON
  const jsonData = {};
  formData.forEach((value, key) => {
    jsonData[key] = value;
  });
  const userId = '<%= user._id %>';
  jsonData['buzzer'] = userId;

  fetch('/buzz/createBuzz', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json' // Set content type to JSON
    },
    body: JSON.stringify(jsonData) // Convert data to JSON string
  })
  .then(response => {
    if (!response.ok) {
      throw new Error('Network response was not ok');
    }
    if (response.status === 201) {
        return response.json();
        window.location.href = '/profile';
    }
    return response.text();
  })
  .then(data => {
    // Handle the response from the server
    console.log('Form data submitted successfully:', data);
  })
  .catch(error => {
    console.error('There was a problem submitting the form data:', error);
  });
});



</script>

