<% 
    const notifications = [
        {
          type: 'buzz',
          message: 'New post added to the community!',
          request: null
        },
        {
          type: 'buzzspace',
          message: 'New buzzspace created!',
          request: null
        },
        {
          type: 'comment',
          message: 'Someone commented on your post!',
          request: null
        },
        {
          type: 'reply',
          message: 'Someone replied to your comment!',
          request: null
        },
        {
          type: 'request',
          message: 'You have a new friend request!',
          request: {
            user: {
              _id: 'user123',
              username: 'abc'
            },
            buzzspace: "Hello"
          }
        }
    ]; 

%>


<div class="notifications-supreme">
    <h1>Notifications</h1>

    <div class="notifications-container">

        <% notifications.map(notification=> { %>
                <%- include('components/notification', { notification }) %>
            
            <% }); %>
    </div>
</div>