<% 
const buzzSpaces = [
  {
    name: 'testSpace',
    image : "https://picsum.photos/100/100",
    id: 1
  },
  {
    name: 'testSpace1',
    image : "https://picsum.photos/100/100",
    id: 2
  },
  {
    name: 'testSpace2',
    image : "https://picsum.photos/100/100",
    id: 3
  },
  {
    name: 'testSpace3',
    image : "https://picsum.photos/100/100",
    id: 3
  },
  {
    name: 'testSpace4',
    image : "https://picsum.photos/100/100",
    id: 4
  },
  {
    name: 'testSpace5',
    image : "https://picsum.photos/100/100",
    id: 5
  },
]

%>

<h1>Top BuzzSpaces</h1>

<ol class="topSpaces-container">
    <li>
        <div class="topSpaces-item">
            <img src="https://picsum.photos/100/100" alt="">
            <div class="topSpaces-item-inner">
                <h4>buzzspace</h4>
                <p>Sports</p>
                <p>12K Members</p>
            </div>
        </div>        
    </li>
</ol>