@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {

    background-color: rgb(11, 20, 22);
    color: azure;
    overflow-x: hidden;
}

input, textarea {
    border-radius: 0.375rem;
    border: 1px solid rgba(55, 65, 81, 1);
    outline: 0;
    background-color: transparent;
    color: rgba(243, 244, 246, 1);
}

input:focus, textarea:focus {
    border-color: rgb(242, 146, 47);
}

a {
    color: rgb(242, 146, 47);
    text-decoration: none;
}

*::-webkit-scrollbar {
    width: 5px;
    border-radius: 25%;
}

*::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 2px;
}

*::-webkit-scrollbar-thumb:hover {
    background: #555;
}


body::-webkit-scrollbar {
    width: 7px;
    background: rgb(24, 24, 24);
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(242, 146, 47);
    border-radius: 3px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: rgba(242, 144, 47, 0.8);
}