:root {
    --orange: rgb(242, 146, 47)
  }

.main-layout {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2.5rem;
}

/* Navbar styles */

.nav-cover{
    height: 60px;
    width: 100%;
}

nav {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #181818;
    color: azure;
    flex-wrap: wrap;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}

.nav-logo {
    height: 50px;
}

#hamburger-icon {
    display: none;
}

.nav-menu {
    display: flex;
    min-width: 70%;
    justify-content: space-between;
    align-items: center;
}

#navSearch {
    width: 50%;
    height: 35px;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.1rem;
    min-width: 400px;
}

#navSearch:focus {
    outline: none;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15%;
    min-width: 200px;
}

.nav-list li {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.nav-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-profile span {
    margin: 0 5px;
}

@media (max-width:930px) {
    #hamburger-icon {
        display: block;
    }

    .nav-left {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 70px;
    }

    #navSearch {
        min-width: 300px;
        width: 90%;
    }

    .nav-menu {
        width: 100%;
        padding-top: 20px;
        height: 100px;
        flex-direction: column;
    }

    nav {
        padding-bottom: 10px;
        overflow-y: hidden;
        transition: all 0.3s ease-in-out;
    }

    nav.open {
        height: 180px;
    }
}

/* Navbar styles */

/* Footer styles */
footer {
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 30px 40px;
    background-color: #181818;
    flex-direction: column;

}

footer img {
    height: 50px;
}

.footer-logo-container {
    border-bottom: 1px solid var(--orange);
    padding-bottom: 20px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.footer-menu {
    width: 50%;
    min-width: 320px;
    display: flex;
    justify-content: space-between;
}

.footer-menu a {
    color: azure;
    text-decoration-line: none;
    transition: all 0.3s ease-in-out;
}

.footer-menu a:hover {
    text-decoration-line: underline;
    text-decoration-color: orangered;
    color: rgb(255, 169, 8);
}

/* Footer styles */

/* Post styles */


.post-super{
    width: 100%;
}

.post {
    background-color: rgb(15, 15, 15);
    padding: 15px 20px;
    border-radius: 5px;
    width: 100%;
    display: flex;
    gap: 15px;
}

.votes-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vote-btn{
    cursor: pointer;
}

.votes-container span.plus{
    color: var(--orange);
}
.votes-container span.minus{
    color: lightblue;
}

.post-main {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    gap: 10px;
}

.post-main .more {
    cursor: pointer;
}

.post-close {
    display: none;
}

.comment-functions , .post-functions {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 7px;
    margin-top: 10px;
    padding-top: 10px;
    border-top: .5px solid var(--orange);
    color: rgba(240, 255, 255, 0.5);
}


.comment-functions div , .post-functions div {
    display: flex;
    align-items: center;
    font-size: medium;
    gap: 3px;
    cursor: pointer;
}

.post-inner-functions, .comment-inner-functions{
    gap: 10px !important;
}

.comment-functions span, .post-functions div span {
    font-size: small;
}
.post-comment-section{
    display: none;
}

.post-super.modal {
    position: fixed;
    top: 0;
    align-items: center;
    justify-content: center;
    left: 0;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    max-width: none;
    width: 100vw;
    height: 100vh;
    
}

.post-super.modal .post {
    width: 800px;
    border: 1px solid var(--orange);
    position: relative;
}


.post-super.modal .post-close {
    display: block;
    position: absolute;
    right: 10px;
    top: -30px;
    cursor: pointer;
}

.post-super.modal .post-comment-section{
    display: block;
    width: 100%;
}

.post-commentText {
    width: 100%;
    border-radius: 0.375rem;
    border: 1px solid rgba(55, 65, 81, 1);
    outline: 0;
    background-color: transparent;
    padding: 0.75rem 1rem;
    color: azure;
}

.post-commentText:focus {
    border-color: rgba(255, 166, 0, 1);
}

.post-comment-btn-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    margin: 10px 0;
}

.post-comment-btn-container button {
    background-color: var(--orange);
    padding: 10px 20px;
    text-align: center;
    color: azure;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.post-comment-btn-container button:hover {
    background-color: rgba(255, 166, 0, 0.8);
}

.post-comment-title {
    font-size: large;
    margin-bottom: 10px;
}

@media (max-width:830px) {
    .post-super.modal .post{
        width: 90%;
    }
}

/* Post styles */

/* Comment styles */

.post-comments-list{
    width: 100%;
    max-height: 200px;
    overflow: auto;
}

.post-comments-list::-webkit-scrollbar {
    width: 10px; /* width of the scrollbar */
    border-radius: 25%;
}

.post-comments-list::-webkit-scrollbar-thumb {
    background: #888; /* color of the scrollbar */
}

.post-comments-list::-webkit-scrollbar-thumb:hover {
    background: #555; /* color of the scrollbar on hover */
}



.post-comments-list li{
    list-style: none;
}

.post-comment .votes-container{
    width: fit-content;
    margin-top: 5px;
}

.post-comment{
    margin: 20px 5px 20px 20px;
    padding-left: 10px;
    border-left: 1px solid var(--orange);
    display: flex;
    gap: 10px;
}
.comment-header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: fit-content;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 15px;
}

.comment-user{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    width: fit-content;
}

.comment-user span{
    font-weight: 200;
}

.comment-functions{
    margin-bottom: 10px;
}

.comment-time{
    font-weight: 300;
    font-size: .7rem;
    
}

/* Comment styles */


/* Home styles */
.home-posts-container{
    min-width: 60%;
    max-width: 90%;
    display: flex;    
    flex-direction: column;
    gap: 1rem;
}


/* Home styles */