:root {
    --orange: rgb(242, 146, 47);
    --grey: rgba(55, 65, 81, 1);
    --body-col: rgb(11, 20, 22);
    --buzz-black: rgb(15, 15, 15);
}

.main-layout {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


button {
    background-color: var(--orange);
    padding: 10px 20px;
    text-align: center;
    color: azure;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgba(255, 166, 0, 0.8);
}

/* Avatar styles */

.avatar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/* Avatar styles */

/* Navbar styles */

.nav-cover {
    height: 60px;
    width: 100vw;
}

nav {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem 0 1rem;
    background-color: rgb(25, 23, 25);
    color: azure;
    flex-wrap: wrap;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    border-bottom: 1px solid var(--grey);
}

nav a {
    color: azure;
}

.nav-logo {
    height: 40px;
}

#hamburger-icon {
    display: none;
}

.nav-menu {
    display: flex;
    min-width: 70%;
    justify-content: space-between;
    align-items: center;
}

#navSearch {
    width: 50%;
    height: 35px;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.1rem;
    min-width: 400px;
}

#navSearch:focus {
    outline: none;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15%;
    min-width: 200px;
}

.nav-list li,
.nav-list a {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.nav-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-profile span {
    margin: 0 5px;
}

.nav-left {
    padding-top: 5px;
}

@media (max-width:930px) {
    #hamburger-icon {
        display: block;
    }

    .nav-left {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 70px;
        padding: 0;
    }

    #navSearch {
        min-width: 300px;
        width: 90%;
    }

    .nav-menu {
        width: 100%;
        padding-top: 20px;
        height: 100px;
        flex-direction: column;
    }

    nav {
        padding-bottom: 10px;
        overflow-y: hidden;
        transition: all 0.3s ease-in-out;
        height: 70px;
    }

    nav.open {
        height: 180px;
    }
}



/* styles.css */

/* General styles */
body {
    font-family: Arial, sans-serif;
}

/* Navigation styles */
.nav-left {
    display: flex;
    align-items: center;
}

.nav-menu {
    display: flex;
    align-items: center;
}

.nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-list li {
    margin-left: 15px;
}

/* Styles for the autocomplete container */
.autocomplete {
    position: relative;
    display: inline-block;
}

/* Styles for the input field */
.nav-search-input {
    width: 200px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--grey);
    border-radius: 4px;
}

/* Styles for the autocomplete dropdown */
.autocomplete-dropdown {
    position: absolute;
    border: 1px solid var(--orange);
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    background-color: rgb(25, 23, 25);
    color: white;
    overflow-y: auto;
    max-height: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* Style the items in the dropdown */
.autocomplete-item {
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: background-color 0.3s ease;
}

.autocomplete-item:hover {
    background-color: rgb(25, 23, 25);
}

/* Style the logo */
.logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    /* Make the logo circular */
}

/* Style the category */
.category {
    font-size: small;
    color: rgba(240, 255, 255, 0.5);
    padding: 3px 5px;
    border: 1px solid var(--grey);
    border-radius: 5px;
    width: fit-content;
    margin-left: auto;
    margin-left: 260px;
}

.search-logo {
    display: flex;
    align-items: center;
}

.a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/* Style the scrollbar */
.autocomplete-dropdown::-webkit-scrollbar {
    width: 8px;
}

.autocomplete-dropdown::-webkit-scrollbar-thumb {
    background-color: #888;
}

.autocomplete-dropdown::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}


/* Navbar styles */

/* Footer styles */
footer {
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 30px 20px;
    background-color: rgb(25, 23, 25);
    flex-direction: column;
    border-top: 1px solid var(--grey);
}

footer img {
    height: 50px;
}

.footer-logo-container {
    border-bottom: 1px solid var(--orange);
    padding-bottom: 20px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.footer-menu {
    width: 50%;
    min-width: 320px;
    display: flex;
    justify-content: space-between;
}

.footer-menu a {
    color: azure;
    text-decoration-line: none;
}

.footer-menu a:hover {
    text-decoration-line: underline;
    text-decoration-color: orangered;
    color: rgb(255, 169, 8);
}

/* Footer styles */

/* Profile Card styles */

.user-mention {
    position: relative;
    width: fit-content;
}

.mention-name {
    color: azure;
}

.profile-card {
    width: 225px;
    height: 275px;
    background-color: rgb(182, 91, 0);
    border-radius: 10px;
    transition: all .3s;
    position: absolute;
    top: 0px;
    right: -203px;
    z-index: 210;
    display: none !important;
}

.profile-card img {
    width: 50%;
    height: auto;
    border: 5px solid var(--orange);
    box-shadow: 0px 0px 20px rgba(242, 144, 47, 0.5);
}

.user-mention:hover .profile-card {
    display: block !important;
}

.user-mention:hover .mention-name {
    text-decoration: underline;
}

.profile-card2 {
    width: 225px;
    height: 275px;
    background-color: var(--buzz-black);
    border-radius: 10px;
    transition: all .2s;
    padding: 7%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid rgba(55, 65, 81, .7);
    color: azure;
}

.profile-card2 h2{
    padding-bottom: 0 !important;
    border-bottom: none !important;
}

.profile-card2:hover {
    transform: scale(0.98);
    border-radius: 10px;
    border: 0px solid rgba(55, 65, 81, .7);
}

.profile-card:hover {
    box-shadow: 0px 0px 20px 1px rgba(0, 255, 117, 0.20);
}

.profile-name {
    font-size: large;
    display: flex;
    flex-direction: column;
    border-left: 5px solid var(--orange);
    padding-left: .5rem;
    border-right: 5px solid var(--orange);
    padding-right: .5rem;
    border-radius: 5px;
}

.profile-card2 .profile-image {
    font-size: 100px;
    width: 125px;
    height: 125px;
    align-self: center;
}

.profile-card .count {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.profile-card2 .card-bio {
    text-align: center;
    font-size: .8rem;
}

.profile-card .count p .title {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid var(--orange);
}

.profile-card .count p {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Profile Card styles */


/* Buzz styles */


.buzz-super {
    width: 100%;
}

.buzz {
    background-color: var(--buzz-black);
    padding: 15px 20px;
    border-radius: 5px;
    width: 100%;
    display: flex;
    gap: 15px;
    border: 1px solid rgba(55, 65, 81, .7);
}

.votes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vote-btn {
    cursor: pointer;
}

.votes-container span.plus {
    color: var(--orange);
}

.votes-container span.minus {
    color: lightblue;
}

.buzz-main {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: calc(100% - 25px);
    gap: 10px;
}

.buzz-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buzz-top h6 {
    color: rgba(240, 255, 255, 0.5);
}

.buzz-main .more {
    cursor: pointer;
    color: var(--orange);
}

.buzz-close {
    display: none;
}

.buzz-functions-left {
    font-size: .9rem;
}

.buzz-functions-left .profile-image {
    font-size: 100px;
    width: 125px;
    height: 125px;
}

.buzz-functions-left p {
    display: flex;
}

.buzz-functions-left p span {
    color: azure;
}

.comment-functions,
.buzz-functions {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 7px;
    margin-top: 10px;
    padding-top: 10px;
    border-top: .5px solid var(--orange);
    color: rgba(240, 255, 255, 0.5);
}


.comment-functions div,
.buzz-functions div {
    display: flex;
    align-items: center;
    font-size: medium;
    gap: 3px;
    cursor: pointer;
}

.buzz-inner-functions,
.comment-inner-functions {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px !important;
}

.buzz-inner-functions div:hover,
.comment-inner-functions div:hover {
    color: azure;
}


.buzz-comment-section {
    display: none;
}

.buzz-super.modal {
    position: fixed;
    top: 0;
    align-items: center;
    justify-content: center;
    left: 0;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    max-width: none;
    width: 100vw;
    height: 100vh;
    z-index: 200;

}

.buzz-super.modal .buzz {
    width: 800px;
    border: 1px solid var(--grey);
    position: relative;
}


.buzz-super.modal .buzz-close {
    display: block;
    position: absolute;
    right: 10px;
    top: -30px;
    cursor: pointer;
}

.buzz-super.modal .buzz-comment-section {
    display: block;
    width: 100%;
}

.buzz-commentText {
    width: 100%;
    border-radius: 0.375rem;
    border: 1px solid var(--grey);
    outline: 0;
    background-color: transparent;
    padding: 0.75rem 1rem;
    color: azure;
}

.buzz-commentText:focus {
    border-color: rgba(255, 166, 0, 1);
}

.buzz-comment-btn-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    margin: 10px 0;
}


.buzz-comment-title {
    font-size: large;
    margin-bottom: 10px;
}

@media (max-width:830px) {
    .buzz-super.modal .buzz {
        width: 90%;
    }
}

.buzz-actions-container {
    position: relative;
}

.buzz-actions {
    position: absolute;
    display: none !important;
    left: 0;
    top: 25px;
}

.buzz-actions div {
    display: flex;
    gap: .5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.buzz-actions-container:hover .buzz-actions {
    display: flex !important;
    flex-direction: column;
    border: 1px solid var(--grey);
    padding: .7rem;
    gap: .7rem;
    background-color: var(--buzz-black);
    border-radius: 5px;
}

.editbuzz-cover {
    display: none;
}

.editbuzz-cover.modal {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 190;
}

.editbuzz {
    background-color: var(--buzz-black);
    border: 1px solid var(--grey);
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;
    min-width: 50%;
    max-width: 90%;
}

.editbuzz textarea{
    width: 100%;
    padding: 1rem;
}

/* Buzz styles */

/* Comment styles */

.buzz-comment-main {
    min-width: 250px;
}

.buzz-comments-list {
    width: 100%;
    max-height: 200px;
    overflow: auto;
}

.buzz-comments-list li {
    list-style: none;
}

.buzz-comment .votes-container {
    width: fit-content;
    margin-top: 5px;
}

.buzz-comment {
    margin: 20px 5px 20px 20px;
    padding-left: 10px;
    border-left: 1px solid var(--orange);
    display: flex;
    gap: 10px;
}

.comment-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: fit-content;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 15px;
}

.comment-user {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    width: fit-content;
}

.comment-functions {
    margin-bottom: 10px;
}

.comment-time {
    font-weight: 300;
    font-size: .7rem;

}

/* Comment styles */


/* Home styles */
.home-buzzs-container {
    min-width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.home {
    display: flex;
    width: 100%;
    justify-content: space-around;
    gap: 1rem;
    padding: 0 1rem;
    margin: 2.5rem 0;
}

.home-communities-cover {
    position: relative;
    width: 20%;
    width: 250px;

}

.home-communities-container {
    background-color: var(--buzz-black);
    border: 1px solid var(--grey);
    height: calc(100vh - 275px);
    padding: 20px 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.575);
    width: 100%;
}

.home-communities-container h2 {
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--orange);
}

.home-communities-container ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    text-transform: capitalize;
    overflow-y: auto;
    padding-right: 5px;
}



.home-communities-container li {
    list-style: none;
    padding-bottom: .7rem;
    border-bottom: 2px solid var(--grey);
    padding-left: 5px;
}

.homeSpaces-item {
    display: flex;
    gap: 20px;
    color: azure;
    cursor: auto;
    align-items: center;
}


.homeSpaces-item img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 2px solid var(--orange);
}

.homeSpaces-item-inner {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.homeSpaces-item h4 {
    text-transform: capitalize;
}

.homeSpaces-item p {
    font-size: small;
    color: rgba(240, 255, 255, 0.5);
    padding: 3px 5px;
    border: 1px solid var(--grey);
    border-radius: 5px;
    width: fit-content;
}

.home-right-cover {
    width: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
    justify-content: space-around;
    max-height: 800px;
}

.home-right {
    background-color: var(--buzz-black);
    border: 1px solid var(--grey);
    height: fit-content;
    padding: 20px 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 320px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.575);
}

.home-right-inner {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.home-right-inner a,
.home-right-inner button {
    width: 100%;
}

.home-right-bottom {
    padding-top: 1rem;
    border-top: 2px solid var(--orange);
}

@media (max-width:1000px) {
    .home {
        flex-direction: column-reverse;
        align-items: center;
        gap: 3rem;
    }

    .home-communities-container {
        position: static;
        width: 100%;
        max-width: 300px;
        margin: auto;
    }

    .home-right-cover {
        width: auto;
        min-width: 80%;
        max-width: 90%;
    }

    .home-right {
        max-width: none;
    }

    .home-buzzs-container {
        max-width: 90%;
    }

}


/* Home styles */


/* BuzzSpace-page styles */

.buzzSpace-main {
    width: 100%;
    min-height: 100vh;
}

.buzzSpace-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    min-height: 225px;
    background-color: #181818;
    border-bottom: 2px solid var(--grey);
    width: 100%;
    text-align: center;
    gap: 10px;
}

.space-cover {
    width: 100%;
    height: 150px;
}

.buzzSpace-header-inner {
    display: flex;
    padding: 0 30px 20px 30px;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
}

.buzzSpace-header-inner-left {
    display: flex;
    gap: 20px;
    text-transform: capitalize;
}

.space-logo img {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -50px;
    left: 0;
    border: 2px solid var(--orange);
    border-radius: 50%;
}

.space-logo {
    width: 100px;
    height: 50px;
    position: relative;
}

.buzzSpace-header-inner-right {
    display: flex;
    gap: 20px;
    align-items: center;
    width: 300px;
    justify-content: end;
}

.editbuzzSapce-cover {
    display: none;
}

.editbuzzSapce-cover.modal {
    position: fixed;
    top: 0;
    align-items: center;
    justify-content: center;
    left: 0;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    max-width: none;
    width: 100vw;
    height: 100vh;
    z-index: 200;
}

.editbuzzSapce {
    background-color: var(--buzz-black);
    border: 1px solid var(--grey);
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;
    min-width: 50%;
    max-width: 90%;
}

.editbuzzSapce input,
.editbuzzSapce textarea{
    width: 100%;
    padding: 1rem;
}

.space-buzzs-container {
    min-width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.buzzSpace-content {
    display: flex;
    width: 100%;
    justify-content: space-around;
    gap: 1rem;
    padding: 0 1rem;
    margin: 2.5rem 0;
}

.buzzSpace-info {
    background-color: var(--buzz-black);
    border: 1px solid var(--grey);
    padding: 20px 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 300px;
    max-width: 320px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.575);
}

.buzzSpace-info h2 {
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--orange);
}

.buzzSpace-info h5 {
    color: rgba(240, 255, 255, 0.5);
    text-align: center;
}

.space-info-creator {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: auto;
}

.info-dropdown {
    max-height: 50px;
    overflow: hidden;
    transition: all .3s ease-in-out;
}

.info-dropdown.expand {
    max-height: 400px;
    overflow: auto;
}

.info-dropdown .drop-heading span {
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.info-dropdown.expand .drop-heading span {
    transform: rotate(180deg);
}

.info-dropdown .drop-heading{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-left: 5%;
    margin-bottom: 1rem;
    padding-right: 5%;
}

.space-info-rules {
    width: 90%;
    margin: auto;
    text-align: left;
    padding-left: 1rem;
}

.space-info-rules li {
    margin-bottom: 1rem;
}

@media (max-width:1000px) {
    .buzzSpace-content {
        flex-direction: column-reverse;
        align-items: center;
        gap: 3rem;
    }
}

/* BuzzSpace-page styles */


/* FAQs-page styles */
.faq-image {
    min-width: 40%;
    max-width: 90%;
    margin: 2rem 0;
}

.faq-list {
    width: 90%;
    margin: auto;
    padding: 1rem;
}

.faq-list li {
    list-style: none;
}

.faq-item-container {
    padding-bottom: .5rem;
    background-color: #181818;
    border: 1px solid var(--orange);
    padding: 0 2rem;
    width: 90%;
    min-width: 300px;
    margin: auto;
    margin-bottom: 1rem;
    height: fit-content;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transition: all .3s ease-in-out;
}

.faq-item .question {
    height: 70px;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0px solid var(--grey);
    transition: all .3s ease-in-out;
}

.faq-item .answer {
    display: flex;
    align-items: center;
    margin: 2rem 0;
}

.faq-expand-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.faq-item {
    overflow: hidden;
    max-height: 70px;
    transition: all .5s ease-in-out;
}

.faq-item-container.expand {

    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.faq-item-container.expand .faq-item {
    max-height: 300px;
}

.faq-item-container.expand .faq-item .question {
    border-bottom: 1px solid var(--grey);
}

.faq-item-container.expand .faq-item .faq-expand-btn {
    transform: rotate(180deg);
}

/* FAQs-page styles */


/* TopBuzzSpaces-page styles */

.topSpaces-supreme {
    width: 90%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.topSpaces-supreme h1 {
    font-weight: 500;
    font-size: larger;
    margin-bottom: 20px;
}

.topSpaces-container {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    row-gap: 2rem;
}

@media (max-width:710px) {
    .topSpaces-container {
        grid-template-columns: auto auto;
    }
}

@media (max-width:510px) {
    .topSpaces-container {
        grid-template-columns: auto;
    }
}

.topSpaces-container li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.topSpaces-item {
    display: flex;
    gap: 20px;
    color: azure;
    cursor: auto;
    align-items: center;
}


.topSpaces-item img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 2px solid var(--orange);
}

.topSpaces-item-inner {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.topSpaces-item h4 {
    text-transform: capitalize;
}

.topSpaces-item p {
    font-size: small;
    color: rgba(240, 255, 255, 0.5);
    padding: 3px 5px;
    border: 1px solid var(--grey);
    border-radius: 5px;
    width: fit-content;
}

/* TopBuzzSpaces-page styles */

/* New BuzzSpaces-page styles */

.newbuzzSpaces-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 90%;
    margin: 50px auto;
}

.newbuzzSpaces-container button {
    font-size: 1.2rem;
    width: 200px;
}

.newbuzzSpaces-container input,
.newbuzzSpaces-container textarea {
    width: 100%;
    padding: 1rem;
    font-size: 1.1rem;
}

.rules-input-main {
    width: 100%;
}

.rule-input-group {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.rule-input-group button {
    width: fit-content;
}

.buzzSpace-logo-group {
    position: relative;
    width: 100px;
    height: 100px;
    align-self: flex-start;
    margin-left: 2rem;
    top: -75px;
    z-index: 2;
    border: 1px solid var(--grey);
    border-radius: 50%;
}

.buzzSpace-logo-group span,
.buzzSpace-cover-group span {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    text-align: center;
    background-color: var(--buzz-black);
}

.buzzSpace-logo-group span {
    z-index: -1;
    border-radius: 50%;

}

.buzzSpace-logo-group input {
    display: none;
}

.logo-input-show {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: 3;
}

.buzzSpace-cover-group {
    position: relative;
    width: 100%;
    height: 150px;
    border: 1px solid var(--grey);
}

.buzzSpace-cover-group input {
    display: none;
}

.cover-input-show {
    width: 100%;
    height: 100%;
}

/* New BuzzSpaces-page styles */

/* New Buzz-page styles */

.newbuzz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 90%;
    margin: 50px auto;
}

.newbuzz-container input,
.newbuzz-container textarea {
    min-height: 50px;
    width: 100%;
    padding: 1rem;
    font-size: 1.3rem;
}

.newbuzz-container button {
    align-self: flex-end;
    margin-right: 1rem;
}

.newbuzz-buzzspace {
    position: relative;
    width: 100%;
    height: 50px;
}

.custom-select {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    background-color: var(--body-col);
}

.select-selected {
    padding: 5px;
}

.custom-select {
    padding: 5px 10px;
    border: 1px solid var(--grey);
    border-radius: 20px;
}

.custom-select.drop {
    border: 1px solid var(--orange);
}

.select-items {
    max-height: 0px;
    overflow: hidden;
    transition: all .2s ease-in-out;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    border-top: 0px solid var(--grey);
}

.custom-select.drop .select-items {
    max-height: 200px;
    overflow-y: auto;
    margin-top: 10px;
    padding: 1rem 5px;
    border-top: 1px solid var(--grey);
}

.select-selected img,
.select-item img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.select-selected,
.select-item {
    cursor: pointer;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    gap: 10px;
}

/* New Buzz-page styles */


/* Profile styles */

.profile-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
}


.profile-image {
    font-size: 150px;
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid var(--orange);
}

.profile-image img {
    border-radius: 50%;
}

.profile-top {
    padding: 2rem;
    min-width: 70%;
    max-width: 95%;
    background-color: var(--buzz-black);
    border: 1px solid var(--grey);
    margin: auto;
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
    border-radius: 10px;
    align-items: center;
}

.profile-top .btn-container {
    display: flex;
    gap: 1rem;
}


@media (max-width:725px) {
    .profile-top {
        flex-direction: column;
        align-items: center;
    }

    .profile-top .btn-container {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
}

.profile-top-right {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 300px;
}

.profile-count {
    display: flex;
    width: 300px;
    align-items: center;
    width: 80%;
    position: relative;
}

.profile-count::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--orange);
    width: 50%;
    height: 100%;
    z-index: -1;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: all .3s ease-in-out;
}

.profile-count.right::before {
    transform: translateX(100%);
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.profile-count div {
    display: flex;
    align-items: center;
    font-size: large;
    gap: 20px;
    width: 50%;
    justify-content: center;
    padding: 1rem 2rem;
    border: 1px solid var(--grey);
    cursor: pointer;
}

@media (max-width:400px) {
    .profile-count div {
        font-size: small;
    }

}

.profile-count div span {
    background-color: azure;
    color: var(--body-col);
    padding: 5px;
    border-radius: 5px;
    font-weight: 600;
}

.buzz-count {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right: none !important;
}

.buzzSpace-count {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left: none !important;
}


.profile-buzz-container {
    min-width: 60%;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 4rem;
}

.profile-buzzSpaces-container {
    min-width: 60%;
    max-width: 90%;
    display: none;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 4rem;
}

.profile-buzzSpaces-item-inner {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.profile-buzzSpaces-bio {
    max-width: 50vw;
}

.profile-buzzSpaces-item {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1rem;
    color: azure;
    cursor: auto;
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--buzz-black);
    border: 1px solid var(--grey);
}



@media (max-width:725px) {
    .profile-buzzSpaces-item {
        flex-direction: column;
    }

    .profile-buzzSpaces-bio {
        max-width: none;
    }
}


.profile-buzzSpaces-item img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid var(--orange);
    cursor: pointer;
}

.profile-buzzSpaces-item h2 {
    text-transform: capitalize;
    cursor: pointer;
}

.profile-buzzSpaces-item p {
    color: rgba(240, 255, 255, 0.5);
}

.profile-buzzSpaces-item p span {
    padding: 3px 5px;
    border: 1px solid var(--grey);
    border-radius: 5px;
}

.edit-profile-form-cover {
    display: none;
}

.edit-profile-form-cover.modal {
    position: fixed;
    top: 0;
    align-items: center;
    justify-content: center;
    left: 0;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    max-width: none;
    width: 100vw;
    height: 100vh;
    z-index: 200;
}

.edit-profile-form {
    background-color: var(--buzz-black);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border: 1px solid var(--grey);
    border-radius: 10px;
    gap: 1rem;
    min-width: 50%;
    max-width: 90%;
    position: relative;
}

.edit-profile-form input,
.edit-profile-form textarea {
    min-height: 50px;
    width: 100%;
    padding: 1rem;
    font-size: 1.2rem;
}

.close {
    position: absolute;
    right: 10px;
    top: -30px;
    cursor: pointer;
}

/* Profile styles */

/* Avatar styles */

.avatars-container .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid var(--grey);
    cursor: pointer;
}

.avatars-container .avatar.selected {
    border: 5px solid var(--orange);
}

.change-avatar-cover {
    display: none;
}

.change-avatar-cover.modal {
    position: fixed;
    top: 0;
    align-items: center;
    justify-content: center;
    left: 0;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    max-width: none;
    width: 100vw;
    height: 100vh;
    z-index: 200;
}

.change-avatar-inner {
    background-color: var(--buzz-black);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border: 1px solid var(--grey);
    border-radius: 10px;
    gap: 3rem;
    min-width: 50%;
    max-width: 90%;
    position: relative;
}

.change-avatar-inner button {
    min-width: 50%;
    font-size: 1.2rem;
}

.avatars-container {
    display: flex;
    width: 500px;
    max-width: 90%;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: space-around;
}

/* Avatar styles */


/* Notification styles */

.unread {
    position: relative;
}

.unread::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--orange);
    z-index: 101;
    top: 0;
    right: 0;
}

.notifications-supreme {
    width: 90%;
    margin: 3.5rem auto;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
}

.notifications-supreme h1 {
    font-weight: 500;
    margin-bottom: 20px;
    padding-bottom: 10px;
    min-width: 50%;
    text-align: center;
    border-bottom: 2px solid azure;
}

.notifications-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    min-width: 60%;
    max-width: 90%;
}

.notification {
    display: flex;
    gap: 1rem;
    font-size: 1.3rem;
    border: 1px solid var(--grey);
    border-radius: 10px;
    min-height: 100px;
}

.notification-symbol {
    font-size: 3rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: var(--orange);
    font-weight: 900;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 150px;
}

.notification p {
    padding: 1rem 1rem 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
}

.notification p a {
    margin: 0 5px;
}




/* Notification styles */