<div class="change-avatar">
    <button onclick="openCA(this)">Change Avatar</button>
    <div class="change-avatar-cover">
        <div class="change-avatar-inner">
            <div class="avatars-container">
                <span class="material-symbols-outlined close" onclick="closeCA(this)">close</span>
                <% for (let index = 0; index < 10; index++) { %>
                    <div onclick="selectAvatar(this, '<%= index %>')">
                        <%- include('../avatar', { ind: index }) %>
                    </div>
                <% }; %>
                </div>
            <button onclick="updateAvatarIndex(this)">Done</button>
        </div>
    </div>
</div>

<script>
    function openCA(btn) {
        const superDiv = btn.closest('.change-avatar').querySelector('.change-avatar-cover');
        superDiv.classList.add('modal');
    }

    function closeCA(close) {
        const superDiv = close.closest('.change-avatar').querySelector('.change-avatar-cover');
        superDiv.classList.remove('modal');
    }

    function selectAvatar(div, index) {
        const container = div.parentNode;
        const avatars = container.querySelectorAll('.avatar');
        avatars.forEach(function (avatar) {
            avatar.classList.remove('selected');
        });
        div.querySelector('.avatar').classList.add('selected');
        selectedAvatarIndex = index; // Store the selected index globally
    }

    function updateAvatarIndex(btn) {
        const userId = '<%= user._id %>'; // Assuming you have the user's ID available
        fetch(`/users/${userId}/update-avatar`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ avatarIndex: selectedAvatarIndex })
        })
        .then(response => {
            if (response.ok) {
                window.location.reload();
                closeCA(btn);
            } else {
                throw new Error('Failed to update avatar index');
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
</script>
